* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.characters {
  padding: 1rem;

  &__list {
    list-style-type: none;
  }

  &__image {
    height: 10rem;
  }

  &__item {
    border: 1px solid blue;
  }
}
